* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  cursor: none;
  width: 100%;
  height: 100%;
  font-family: monospace;
  background-color: #fffafdd2;
  overflow: hidden;
}


.page {
  width: 100%;
  height: 100%;
  background-color: #1d1d1c;
  display: block;
}
.page2 {
  width: 100%;
  height: 100%;
  background-color: #fffafdd2;
  display: block;
}
.page-bg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #1d1d1c;
}

.noise {
  background-image: url("https://foo-exp.s3.amazonaws.com/morph_mouse/noise_pattern.png");
  background-size: 200px 200px;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  max-width: 35%;
  gap: 3%;
  position: relative;
}

.particles-js-canvas-el {
  position: absolute;
}
.text {
display:flex;
flex-grow: 1;
}

.container-home {
  width: 100%;
  height: 100%;
  display: table;
  z-index: 3;

}
.child {
  display: table-row;
  z-index: 2;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.HoverButton {
  position: relative;
  display: inline-block;
  z-index: 20;
  padding: 0 2%;
  overflow: hidden;
  z-index: 2;
}

.HoverButton .bg {
  pointer-events: none;
  position: absolute;
  background-color: rgba(114, 11, 109, 0.658);
  height: 100%;
  width: 125%;
  display: block;
  transform: translateX(-112%) skew(-10deg);
}

h1 {
  color: #fffafdd2;
  position: relative;
  font-weight: normal;
  font-family: monospace;
  z-index: 1;
  margin: 0;
  font-size: 11vmax;
  mix-blend-mode: difference;
}


.Cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 1000;
  filter: url("#goo");
}

.Cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #fffafdd2;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}

.stamp {
  position: absolute;
  right: 6vmax;
  top: 6vmax;
  z-index: 10;
}

.stamp p {
  color: #fffafdd2;
  font-size: 2vmax;
  font-family: monospace;
  margin: 0;
}

.stamp .circle {
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  left: 50%;
  top: 50%;
  background-color: transparent;
  -webkit-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}

svg {
  display: none;
}

.stamp .circle span {
  font-family: monospace;
  font-weight: bold;
  font-size: 0.8vmax;
  color: #fffafdd2;
  height: 5vmax;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  transform-origin: bottom center;
}

.icons {
  background-color: #fffafdd2;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: color 1s;
  position:sticky;
  top: 0;

}

.child img {
  filter: drop-shadow(2px 2px 2px #000);
}

.icons a {
  font-size: 24px;
  text-decoration: none;
  color: #1d1d1c;
  padding-inline: 0.3%;
  cursor: none
}

.icons2 {
  background-color: #1d1d1c;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  height: auto;
  transition: color 1s;
  position:sticky;
  top: 0;
}


.icons2 a {
  font-size: 24px;
  text-decoration: none;
  color: #fffafdd2;
  padding-inline: 0.3%;
  cursor: none
}

a:hover {
  color: rgba(114, 11, 109, 0.658);
  filter: blur(0.8px) 
}

#typew {
  display: flex;
  font-family: monospace;
  color: #1d1d1c;
  z-index: 5;
  font-size: 24px;
  min-height: 28px;
}

a {
text-decoration: none;
color: #fffafdd2;
font-family: monospace;
cursor: inherit;
}

#particles.js {
  z-index: 100;

}
.corvo a:hover {
color:#fffafdd2 
}


.circle {
padding:0%

}
.char1 {
  transform: rotate(20deg);
}

.char2 {
  transform: rotate(40deg);
}

.char3 {
  transform: rotate(60deg);
}

.char4 {
  transform: rotate(80deg);
}

.char5 {
  transform: rotate(100deg);
}

.char6 {
  transform: rotate(120deg);
}

.char7 {
  transform: rotate(140deg);
}

.char8 {
  transform: rotate(160deg);
}

.char9 {
  transform: rotate(180deg);
}

.char10 {
  transform: rotate(200deg);
}

.char11 {
  transform: rotate(220deg);
}

.char12 {
  transform: rotate(240deg);
}

.char13 {
  transform: rotate(260deg);
}

.char14 {
  transform: rotate(280deg);
}

.char15 {
  transform: rotate(300deg);
}

.char16 {
  transform: rotate(320deg);
}

.char17 {
  transform: rotate(340deg);
}

.char18 {
  transform: rotate(360deg);
}

.char1:hover, .char2:hover, .char3:hover, .char4:hover, .char5:hover, .char6:hover, .char7:hover, .char8:hover, .char9:hover, .char10:hover, .char11:hover, .char12:hover, .char13:hover, .char14:hover, .char15:hover, .char16:hover, .char17:hover, .char18:hover {
  filter: blur(1px);
  }


@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}